[submodule "Todo"]
	path = Todo
	url = https://github.com/aryansingh12/Todo-Web.git
[submodule "Blog"]
	path = Blog
	url = https://github.com/aryansingh12/Blog.git
[submodule "Car_pool"]
	path = Car_pool
	url = https://github.com/aryansingh12/Car_Pool.git
[submodule "rails-gems"]
	path = rails-gems
	url = https://github.com/aryansingh12/Rails-Gems.git
